<ion-header>
  <ion-toolbar color="dark">
    <ion-buttons slot="start" defaultHref="/tabs/(characters:id)">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>{{ character?.name }}</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="unfavouriteCharacter()" *ngIf="isFavourite">
        <ion-icon name="star" slot="icon-only" color="secondary"></ion-icon>
      </ion-button>
      <ion-button (click)="favouriteCharacter()" *ngIf="!isFavourite">
        <ion-icon name="star-outline" slot="icon-only" color="secondary"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
  </ion-header>
 
<ion-content padding="">

  <ion-card *ngIf="character" class="details-card">

    <ion-card-header>
      <ion-img style="height: 30%; width: 30%; margin: auto;" [src]="character.img"></ion-img>
    </ion-card-header>
 
    <ion-item lines="none" class="item-details">
      Name: {{ character.name }}
    </ion-item>
    
    <ion-item lines="none" class="item-details">
      Alias: {{ character.nickname }}
    </ion-item>
 
    <ion-item lines="none" class="item-details">
      <ion-icon name="skull-outline" slot="start"></ion-icon>
      Status: {{ character.status }}
    </ion-item>

    <ion-item lines="none" class="item-details">
      <ion-icon name="people-outline" slot="start"></ion-icon>
      Performed By: {{ character.portrayed }}
    </ion-item>

    <ion-item lines="none" class="item-details">
      <ion-icon name="film-outline" slot="start"></ion-icon>
      Related Shows: {{ character.category }}
    </ion-item>

    <ion-item lines="none" class="item-details">
      Appearances: {{ character?.appearance }}
    </ion-item>

  </ion-card>
</ion-content>
