<ion-header>
  <ion-toolbar color="dark">
    <ion-buttons slot="start" defaultHref="/tabs/(person:id)">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Death Count for {{ person?.name }}</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="unfavouriteCharacter()" *ngIf="isFavourite">
        <ion-icon name="star" slot="icon-only" color="secondary"></ion-icon>
      </ion-button>
      <ion-button (click)="favouriteCharacter()" *ngIf="!isFavourite">
        <ion-icon name="star-outline" slot="icon-only" color="secondary"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
  </ion-header>
 
<ion-content padding="">
  <ion-card *ngIf="person" class="episode-card">

    <ion-item lines="none" class="episode-card">
      <ion-icon name="skull-outline" slot="start"></ion-icon>
      {{ "N kills = " + person?.deathCount }}
    </ion-item>

  </ion-card>
</ion-content>