<ion-header>
  <ion-toolbar color="dark">
    <ion-buttons slot="start" defaultHref="/tabs/(episodes:is)">
      <ion-back-button>
        
      </ion-back-button>
    </ion-buttons>
    <ion-title>{{ episode?.series + " S" + episode?.season + "E" + episode?.episode + ": " + episode?.title }}</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="unfavouriteEpisode()" *ngIf="isFavourite">
        <ion-icon name="star" slot="icon-only" color="secondary"></ion-icon>
      </ion-button>
      <ion-button (click)="favouriteEpisode()" *ngIf="!isFavourite">
        <ion-icon name="star-outline" slot="icon-only" color="secondary"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
  </ion-header>
 
<ion-content padding="">

  <ion-card *ngIf="episode" class="details-card">

    <ion-card-header>Title: {{ episode.title }}</ion-card-header>
 
    <ion-item lines="none" class="item-details">
      Season: {{ episode.season }}
    </ion-item>
 
    <ion-item lines="none" class="item-details">
      Episode: {{ episode.episode }}
    </ion-item>

    <ion-item lines="none" class="item-details">
      <ion-icon class="icon-default" name="calendar-number-outline" slot="start"></ion-icon>
      Air Date: {{ episode.air_date }}
    </ion-item>

    <ion-item lines="none" class="item-details">
      Characters: {{ episode.characters.toString().replace(",", ", ") }}
    </ion-item>
  </ion-card>
</ion-content>
