.details-card {
    --background: #4a4a4a;
    --ion-text-color: #E3EBCA;
}

.item-details {
    --ion-text-color: rgb(227, 235, 202);
    --background: #4a4a4a;
    border: 1px solid rgb(97, 5, 8);
}

ion-icon {
    color: #eaf1e6;
    border-color: #EAF1E6;
  }

ion-card-header {
    --ion-text-color:rgb(227,235,202);   
}